# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules/

# Compilación
dist/
dist-ssr/
build/

# Entorno
.env
.env.local
.env.development
.env.test
.env.production

# Cache
.vite/
*.cache

# Editor y Sistema
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Pruebas
coverage/

# Archivos locales
*.local